/* space-mono-regular - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/space-mono-v11-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* space-mono-700 - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/space-mono-v11-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v11-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lexend-deca-regular - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lexend Deca','Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  background-color: #FFFFFF;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (max-width: 1140px) {
  .container {
    max-width: 718px;
  }
}

@media only screen and (max-width: 719px) {
  .container {
    max-width: 341px;
  }
}

.header {
  padding-top: 34px;
  padding-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__site-link {
  margin-left: 520px;
}

@media only screen and (max-width: 1140px) {
  .header__site-link {
    margin-left: 94px;
  }
}

@media only screen and (max-width: 719px) {
  .header {
    position: relative;
  }
  .header__nav {
    display: none;
  }
  .site-link--header {
    display: none;
  }
  .header__logo-img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .header__burger {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    position: relative;
  }
  .header__burger::after,
  .header__burger::before,
  .header__burger-inner {
    content: '';
    display: block;
    width: 19px;
    height: 3px;
    background-color: #FCB72B;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
  }
  .header__burger-inner {
    margin: 2px 0;
  }
  .header__burger--opened .header__burger-inner {
    display: none;
  }
  .header__burger--opened::before,
  .header__burger--opened::after {
    position: absolute;
    top: 50%;
    left: 0;
  }
  .header__burger--opened::before {
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .header__burger--opened::after {
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .header--opened .header__nav {
    display: block;
  }
  @-webkit-keyframes nav-open {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes nav-open {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333A44;
    top: 100%;
    z-index: 100;
    height: calc(100vh - 96px);
    -webkit-animation: 1s linear nav-open;
            animation: 1s linear nav-open;
  }
  .header--opened .nav__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 64px;
    padding-left: 32px;
    margin-bottom: 339px;
  }
  .header--opened .nav__item-link {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    font-size: 18px;
    line-height: 25px;
    color: #E5ECF4;
  }
  .header--opened .header__site-link {
    margin: 0;
    margin-left: 32px;
  }
}

.nav {
  margin-left: 58px;
  margin-right: auto;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-right: 32px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item-link {
  text-decoration: none;
  color: #939CAA;
}

.nav__item-link:hover {
  color: #FCB72B;
  cursor: pointer;
}

@media only screen and (max-width: 719px) {
  .nav {
    margin: 0;
    padding: 0;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .nav__item {
    margin: 0;
    margin-bottom: 16px;
  }
  .nav__item:last-child {
    margin-bottom: 0;
  }
}

.site-link {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  font-size: 15px;
  line-height: 25px;
  padding: 14px 39px;
  background-color: #FCB72B;
  color: #FFFFFF;
  text-decoration: none;
  border: 3px solid #FCB72B;
}

.site-link:hover {
  background-color: transparent;
  color: #FCB72B;
}

.intro {
  margin-bottom: 160px;
  padding-top: 153px;
  padding-bottom: 166px;
  background-image: url(../../img/intro_bg-img-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.intro::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #2F3B59;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
}

.intro__container {
  position: relative;
  z-index: 1;
  color: #FFFFFF;
}

.intro__container::before {
  content: '';
  display: block;
  width: 160px;
  border: 7px solid #FCB72B;
  background-color: #FCB72B;
  background-image: url(../../img/intro_bg-img-path-1.svg);
  position: absolute;
  top: 190px;
  left: -110px;
}

.intro__container::after {
  content: '';
  display: block;
  width: 460px;
  height: 150px;
  background-image: url(../../img/intro_bg-img-path-2.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 190px;
  right: 130px;
}

.intro__content-wrapper {
  max-width: 500px;
}

.intro__title {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  margin: 0;
}

.intro__text-wrapper {
  padding-left: 95px;
  margin-top: 40px;
}

.intro__description {
  margin: 0;
  margin-bottom: 54px;
}

@media only screen and (max-width: 1140px) {
  .intro {
    margin-bottom: 122px;
    padding-top: 137px;
    padding-bottom: 231px;
    background-image: url(../../img/intro_tablet-bg-img-1x.jpg);
  }
  .intro__container::before {
    display: none;
  }
  .intro__container::after {
    top: 318px;
    left: -150px;
  }
  .intro__content-wrapper {
    max-width: 573px;
    margin: 0 auto;
    text-align: center;
  }
  .intro__text-wrapper {
    padding-left: 0;
    margin-top: 24px;
  }
  .intro__description {
    margin-bottom: 46px;
  }
}

@media only screen and (max-width: 719px) {
  .intro {
    margin-bottom: 120px;
    padding: 115px 32px 193px;
    background-image: url(../../img/intro_mobile-bg-img-1x.jpg);
  }
  .intro__container::after {
    top: 363px;
    left: -320px;
  }
  .intro__content-wrapper {
    max-width: 311px;
  }
  .intro__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.78571px;
  }
  .intro__description {
    margin-bottom: 48px;
  }
}

.scooter {
  margin-bottom: 200px;
}

.scooter__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.scooter__list::before {
  content: '';
  display: block;
  width: 900px;
  border: 7px solid #E5ECF4;
  background-color: #E5ECF4;
  position: absolute;
  top: 40px;
  left: -120px;
}

.scooter__item {
  max-width: 350px;
  padding-top: 136px;
  position: relative;
  margin-right: 30px;
}

.scooter__item:nth-child(3n),
.scooter__item :last-child {
  margin-right: 0;
}

.scooter__item::before {
  content: '';
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../img/scooter_bg-img-app.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.scooter__item--scooter::before {
  background-image: url(../../img/scooter_bg-img-scooter.svg);
}

.scooter__item--ride::before {
  background-image: url(../../img/scooter_bg-img-ride.svg);
}

.scooter__item-title {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  font-size: 24px;
  line-height: 28px;
  color: #495567;
  margin: 0;
  margin-bottom: 27px;
}

.scooter__item-description {
  margin: 0;
  color: #939CAA;
}

@media only screen and (max-width: 1140px) {
  .scooter {
    margin-bottom: 145px;
  }
  .scooter__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .scooter__list::before {
    width: 512px;
    left: -153px;
    top: 127px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .scooter__item {
    max-width: 573px;
    padding-top: 0;
    padding-left: 175px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .scooter__item:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 719px) {
  .scooter {
    margin-bottom: 120px;
  }
  .scooter__list::before {
    display: none;
  }
  .scooter__item {
    max-width: 311px;
    padding: 0;
    padding-top: 140px;
    text-align: center;
    margin-bottom: 48px;
  }
  .scooter__item::before {
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .scooter__item:last-child {
    margin-bottom: 0;
  }
  .scooter__item-title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
  }
}

.benefits {
  margin-bottom: 329px;
  overflow: hidden;
}

.benefits__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
  padding-bottom: 15px;
  position: relative;
}

.benefits__item:last-child {
  margin-bottom: 0;
}

.benefits__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.benefits__item::before {
  content: "";
  display: block;
  width: 740px;
  height: 150px;
  background-image: url(../../img/benefits_big-arrow-item-1.svg);
  position: absolute;
  top: 299px;
  right: -165px;
}

.benefits__item--city::before {
  background-image: url(../../img/benefits_big-arrow-item-2.svg);
  top: 0;
  left: -550px;
}

.benefits__item--payment::before {
  background-image: url(../../img/benefits_big-arrow-item-3.svg);
  top: 77px;
  right: -545px;
}

.benefits__text-wrapper {
  max-width: 445px;
}

.benefits__item-title {
  margin: 0;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  letter-spacing: -2.14286px;
}

.benefits__item-description {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 54px;
  color: #939CAA;
}

.benefits__img {
  border-radius: 50%;
  -webkit-box-shadow: 494px 0 #E5ECF4;
          box-shadow: 494px 0 #E5ECF4;
}

.benefits__img--city {
  -webkit-box-shadow: -494px 0 #E5ECF4;
          box-shadow: -494px 0 #E5ECF4;
}

@media only screen and (max-width: 1140px) {
  .benefits {
    margin-bottom: 118px;
  }
  .benefits__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
    margin-bottom: 140px;
    text-align: center;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
  .benefits__item:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .benefits__item::before {
    right: -50px;
  }
  .benefits__item--city::before {
    background-image: url(../../img/benefits_big-arrow-item-2.svg);
    top: 0;
    left: -431px;
  }
  .benefits__item--payment::before {
    background-image: url(../../img/benefits_big-arrow-item-3.svg);
    top: 77px;
    right: -425px;
  }
  .benefits__text-wrapper {
    max-width: 573px;
    margin-top: 56px;
  }
  .benefits__item-description {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 719px) {
  .benefits {
    margin-bottom: 134px;
  }
  .benefits__item {
    margin-bottom: 134px;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
  .benefits__item::before {
    top: 173px;
    left: 0;
  }
  .benefits__item--city::before {
    top: 0;
    left: -494px;
  }
  .benefits__item--payment::before {
    top: 0;
    left: 115px;
  }
  .benefits__text-wrapper {
    max-width: 311px;
  }
  .benefits__item-description {
    margin-top: 32px;
    margin-bottom: 46px;
  }
  .benefits__item-title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
  .benefits__img {
    width: 311px;
    height: 311px;
    border-radius: 50%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.sign-up {
  background-color: #495567;
  padding: 102px 165px;
}

.sign-up__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sign-up__title {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  max-width: 415px;
  color: #FFFFFF;
  margin: 0;
}

.sign-up__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-up__appstore-link {
  margin-right: 18px;
}

@media only screen and (max-width: 1140px) {
  .sign-up {
    padding: 62px 155px;
  }
  .sign-up__content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sign-up__title {
    max-width: 457px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1140px) {
  .sign-up {
    padding: 88px 32px;
  }
  .sign-up__title {
    max-width: 311px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
}

.footer {
  background-color: #333A44;
  padding: 35px 0 32px;
}

.footer__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-item {
  margin-right: 24px;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-link {
  color: #FCB72B;
}

.footer__social-link:hover {
  color: #FFFFFF;
}

@media only screen and (max-width: 719px) {
  .footer {
    padding: 64px 128px 90px;
  }
  .footer__content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__nav {
    margin-top: 41px;
    margin-bottom: 87px;
  }
}
/*# sourceMappingURL=main.css.map */