@mixin list-style {
    padding: 0;
    margin: 0;
    list-style: none;
}
@mixin text-style {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}