.header__container{
    display: flex;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 33px;
}
.header__burger{
    display: none;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
}
@media only screen and (max-width:$mobile){
    .header{
        position: relative;
    }
    .header__container{
        padding-top: 22px;
        padding-bottom: 22px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .header__nav{
        display: none;
    }
    .header__burger{
        display: block;
        background-color: transparent;
        border: none;
        padding: 0;
        position: relative;
        min-width: 20px;
    }
    .header__logo-link{
        margin: 0 auto;
        padding-right: 20px;
    }
    .header__burger::after,
    .header__burger::before,
    .header__burger-inner{
        content: '';
        display: block;
        width: 20px;
        height: 4px;
        background-color: $yellow;
        transition: 0.5s ease all;
    }
    .header__burger-inner{
        margin: 2px 0;
    }
    .header__burger--opened .header__burger-inner{
        display: none;
    }
    .header__burger--opened::before,
    .header__burger--opened::after{
        position: absolute;
        top: 50%;
        left: 0;
    }
    .header__burger--opened::before{
        transform: rotate(230deg);
    }
    .header__burger--opened::after{
        transform: rotate(-230deg);
    }
    .header--opened .header__nav{
        display: block;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: calc( 100vh - 75px);
        background-image: linear-gradient( to right,#333a44 68%, rgba(0, 0, 0, 0.7) 68%);
        top: 100%;
        left: 0;
        flex-grow: 5;
        padding-left: 32px;
        
    }
    .header--opened .header__nav-list{
        align-items: flex-start;
        margin-bottom: 230px;
        padding-top: 64px;
    }
    @keyframes nav-open{
        0% {
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0);
        }
    } 
}
