.riding{
    margin-bottom: 329px;
    padding-bottom: 100px;
    padding-top: 70px
}
.riding__list{
    @include list-style;
}
.riding__item{
    margin-bottom: 160px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    &:last-child{
        margin-bottom: 0;
    }
    &:nth-child(2n){
        flex-direction: row-reverse;
    }
    &::before{
        border-radius: 50%;
        content: '';
        display: block;
        width: 445px;
        height: 445px;
        position: absolute;
    }
    &::after{
        content: '';
        display: block;
        width: 445px;
        height: 445px;
        border-radius: 50%;
        position: absolute;
        background-color: #E5ECF4;
    }
}
.riding__item--telementry{
    &::before{
        background-image: url(../../img/riding_bg-img-1x.jpg);
        top: -66px;
        left: 100%;
        transform: translateX(-100%);
    }
    &::after{
        top: -66px;
        left: calc( 100% + 64px);
    } 
}
.riding__item--city{
    &::before{
        background-image: url(../../img/riding_bg-img-city-1x.jpg);
        left: 0;
        transform: translateX(0);
    }
    &::after{
        left: calc( 0% - 509px);
    }
}
.riding__item--payment{
    &::before{
        background-image: url(../../img/riding_bg-img-payment-1x.jpg);
        top: -66px;
        left: 100%;
        transform: translateX(-100%);
    }
    &::after{
        top: -66px;
        left: calc( 100% + 64px);
    }
}
.riding__item-content-wrapper{
    max-width: 445px;
    &::before{
        content: '';
        display: block;
        width: 740px;
        height: 151px;
        position: absolute;
        z-index: 1;
    }
}
.riding__item-content-wrapper--telementry::before{
    background-image: url(../../img/riding_bg-img-path-1.svg);
    top: 233px;
    right: -165px;
}
.riding__item-content-wrapper--city::before{
    background-image: url(../../img/riding_bg-img-city-path-2.svg);
    top: -70px;
    left: -550px;
}
.riding__item-content-wrapper--payment::before{
    background-image: url(../../img/riding_bg-img-payment-path-3.svg);
    top: 10px;
    right: -540px;
}
.riding__item-title{
    @include text-style;
    letter-spacing: -2.14286px;
    margin: 0;
    color: $black;
}
.riding__item-description{
    margin-top: 24px;
    margin-bottom: 54px;
    color: $gray;
}
@media only screen and (max-width:$tablet){
    .riding{
        margin-bottom: 118px;
    }
    .riding__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .riding__item{
        margin-bottom: 140px;
        padding-top: 480px;
        position: relative;
        &:last-child{
            margin-bottom: 0;
        }
        &::before{
            border-radius: 50%;
            content: '';
            display: block;
            width: 445px;
            height: 445px;
            position: absolute;
        }
        &::after{
            content: '';
            display: block;
            width: 445px;
            height: 445px;
            border-radius: 50%;
            position: absolute;
            background-color: #E5ECF4;
        }
    }
    .riding__item--telementry{
        &::before{
            background-image: url(../../img/riding_bg-img-1x.jpg);
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &::after{
            top: 0;
            left: 100%;
        }
    }
    .riding__item--city{
        &::before{
            background-image: url(../../img/riding_bg-img-city-1x.jpg);
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &::after{
            top: 0;
            left: calc( 0% - 450px);
        }
    }
    .riding__item--payment{
        &::before{
            background-image: url(../../img/riding_bg-img-payment-1x.jpg);
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &::after{
            top: 0;
            left: 100%;
        }
}
    .riding__item-content-wrapper{
        max-width: 573px;
        &::before{
            content: '';
            display: block;
            width: 740px;
            height: 151px;
            position: absolute;
            z-index: 1;
        }
    }
    .riding__item-content-wrapper--telementry::before{
        background-image: url(../../img/riding_bg-img-path-1.svg);
        top: 307px;
        left: -60px;
    }
    .riding__item-content-wrapper--city::before{
        background-image: url(../../img/riding_bg-img-city-path-2.svg);
        top: 0;
        left: -490px;
    }
    .riding__item-content-wrapper--payment::before{
        background-image: url(../../img/riding_bg-img-payment-path-3.svg);
        top: 80px;
        right: -480px;
    }
    .riding__item-title{
        max-width: 457px;
        margin: 0 auto;
    }
    .riding__item-description{
        margin-top: 40px;
        margin-bottom: 54px;
    }
}
@media only screen and (max-width:$mobile){
    .riding{
        margin-bottom: 134px;
    }
    .riding__item-title{
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.42857px;
    }
    .riding__item{
        margin-bottom: 134px;
        padding-top: 367px;
        position: relative;
        &:last-child{
            margin-bottom: 0;
        }
        &::before{
            border-radius: 50%;
            content: '';
            display: block;
            width: 311px;
            height: 311px;
            background-size: cover;
            position: absolute;
        }
        &::after{
            content: '';
            display: block;
            width: 445px;
            height: 445px;
            border-radius: 50%;
            position: absolute;
            background-color: #E5ECF4;
            display: none;
        }
    }
    .riding__item-content-wrapper{
        max-width: 311px;
        &::before{
            content: '';
            display: block;
            width: 740px;
            height: 151px;
            position: absolute;
            z-index: 1;
        }
    }
    .riding__item-content-wrapper--telementry::before{
        background-image: url(../../img/riding_bg-img-path-1.svg);
        top: 168px;
        left: 0;
    }
    .riding__item-content-wrapper--city::before{
        background-image: url(../../img/riding_bg-img-city-path-2.svg);
        top: 0;
        left: -510px;
    }
    .riding__item-content-wrapper--payment::before{
        background-image: url(../../img/riding_bg-img-payment-path-3.svg);
        top: 0px;
        right: -550px;
    }
}