.values{
    margin-bottom: 120px;
}
.values__title{
    text-align: center;
    @include text-style;
    letter-spacing: -2.14286px;
    color: $black;
    margin: 0;
    margin-bottom: 103px;
}
@media only screen and (max-width:$tablet) {
    .values__title{
        margin-bottom: 105px;
    }
}
@media only screen and (max-width:$mobile) {
    .values{
        margin-bottom: 145px;
    }
    .values__title{
        margin-bottom: 64px;
    }
}